# Resumen
- seleccionado primeras variables
- transformacion var timestamp a horas
- union de los dos dataframe

## Preguntas
- que hago con los missing_data

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
spark = SparkSession.builder \
    .appName("SmallTestDataset") \
    .master("local[*]") \
    .getOrCreate()

In [4]:
#INPUT DATA
input_data_g = "/home/jupyter/proyect/ds_taxi_NY/green_tripdata_2024-01.parquet"
input_data_y = "/home/jupyter/proyect/ds_taxi_NY/yellow_tripdata_2024-01.parquet"

In [5]:
#READ FILE
df_g = spark.read.parquet(input_data_g)
df_y = spark.read.parquet(input_data_y)

In [6]:
df.printSchema()

NameError: name 'df' is not defined

In [22]:
#SELECCION VARIABLES GREEN DATASET
lista_vars = ['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'tip_amount',
 'total_amount']

dfg = df_g.select(lista_vars)

In [23]:
# TRANSFORMACION REDONDEO TIEMPO, Y DATE GREEN TAXI
dfg = dfg.withColumn("date_init_trip", F.date_format(F.col("lpep_pickup_datetime"), "yyyy-MM-dd"))\
         .withColumn( 'hour_init_trip',     F.hour( F.col("lpep_pickup_datetime") ))\
         .withColumn("date_arrival_trip", F.date_format(F.col("lpep_dropoff_datetime"), "yyyy-MM-dd"))\
         .withColumn( 'hour_arrival_trip',     F.hour( F.col("lpep_dropoff_datetime") )) \
         .drop(F.col('lpep_pickup_datetime'))\
         .drop( F.col('lpep_dropoff_datetime') )

In [ ]:
#SELECCION VARIABLES YELLOW DATASET
lista_vars = ['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'tip_amount',
 'total_amount']

dfy = df_y.select(lista_vars)

In [17]:
# TRANSFORMACION REDONDEO TIEMPO, Y DATE YELLOW TAXI
dfy = dfy.withColumn("date_init_trip", F.date_format(F.col("tpep_pickup_datetime"), "yyyy-MM-dd"))\
         .withColumn( 'hour_init_trip',     F.hour( F.col("tpep_dropoff_datetime") ))\
         .withColumn("date_arrival_trip", F.date_format(F.col("tpep_pickup_datetime"), "yyyy-MM-dd"))\
         .withColumn( 'hour_arrival_trip',     F.hour( F.col("tpep_dropoff_datetime") )) \
         .drop(F.col('tpep_pickup_datetime'))\
         .drop( F.col('tpep_dropoff_datetime') )

In [24]:
dfy.columns == dfg.columns

True

In [21]:
dfg.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'tip_amount',
 'total_amount']

In [20]:
dfy.columns

['VendorID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'tip_amount',
 'total_amount',
 'date_init_trip',
 'hour_init_trip',
 'date_arrival_trip',
 'hour_arrival_trip']

In [25]:
df = dfg.union(dfy)

In [45]:
len_g = dfg.count()
len_g

56551

In [ ]:
len_g = dfg.count()
dfg.select([F.count( F.when(F.col(c).isNull(),c)  ).alias(c)for c in dfg.columns]).show()

+---------------------------------------------------------------------------+---------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------+---------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------+
|(count(CASE WHEN (VendorID IS NULL) THEN VendorID END) AS VendorID / 10000)|(count(CASE WHEN (PULocationID IS NULL) THEN PULocationID END) AS PULocationID / 10000)|(count(CASE WHEN (DOLocationID IS NULL) THEN DOLocationID END) AS DOLocationID / 10000)|(count(CASE WHEN (passenger_count IS NULL) THEN passenger_count END) AS passenger_count / 10000)|(count(CASE WHEN (trip_distance IS NULL) THEN trip_distance END) AS trip_distance / 10000)|(count(CASE WHEN (tip_amount IS NULL) THEN tip_amount END) AS tip_amount / 10000)|(count(CASE WHEN (total_amount IS NULL) THEN total_amount END) AS total_amount / 10000)|(count(CASE WHEN (date_init_trip IS NULL) THEN date_init_trip END) AS date_init_trip / 10000)|(count(CASE WHEN (hour_init_trip IS NULL) THEN hour_init_trip END) AS hour_init_trip / 10000)|(count(CASE WHEN (date_arrival_trip IS NULL) THEN date_arrival_trip END) AS date_arrival_trip / 10000)|(count(CASE WHEN (hour_arrival_trip IS NULL) THEN hour_arrival_trip END) AS hour_arrival_trip / 10000)|
+---------------------------------------------------------------------------+---------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------+---------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------+
|                                                                        0.0|                                                                                    0.0|                                                                                    0.0|                                                                                          0.3415|                                                                                       0.0|                                                                              0.0|                                                                                    0.0|                                                                                          0.0|                                                                                          0.0|                                                                                                   0.0|                                                                                                   0.0|
+---------------------------------------------------------------------------+---------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------+---------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------+

In [46]:
len_y = dfy.count()
len_y

2964624

In [47]:
dfy.select([F.count( F.when(F.col(c).isNull(),c)  ).alias(c) for c in dfy.columns]).show()

+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+
|VendorID|PULocationID|DOLocationID|passenger_count|trip_distance|tip_amount|total_amount|date_init_trip|hour_init_trip|date_arrival_trip|hour_arrival_trip|
+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+
|       0|           0|           0|         140162|            0|         0|           0|             0|             0|                0|                0|
+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+

In [ ]:
# test de calidad
df.count()== len_y + len_g

True

In [ ]:
def sumar_missing_per_var(x):
    return x.select([F.count( F.when(F.col(c).isNull(),c)  ).alias(c) for c in x.columns]).show()

In [ ]:
sumar_missing_per_var(df)

+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+
|VendorID|PULocationID|DOLocationID|passenger_count|trip_distance|tip_amount|total_amount|date_init_trip|hour_init_trip|date_arrival_trip|hour_arrival_trip|
+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+
|       0|           0|           0|         143577|            0|         0|           0|             0|             0|                0|                0|
+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+

In [42]:
df.select([F.count( F.when(F.col(c).isNull(),c)  ).alias(c) for c in df.columns]).show()

+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+
|VendorID|PULocationID|DOLocationID|passenger_count|trip_distance|tip_amount|total_amount|date_init_trip|hour_init_trip|date_arrival_trip|hour_arrival_trip|
+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+
|       0|           0|           0|         143577|            0|         0|           0|             0|             0|                0|                0|
+--------+------------+------------+---------------+-------------+----------+------------+--------------+--------------+-----------------+-----------------+